In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config('spark.ui.port', '0'). \
config('spark.shuffle.useOldFetchProtocol', 'true'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
orders_schema = "order_id long , order_date string, customer_id long,order_status string"

In [3]:
orders_df = spark.read \
.format("csv") \
.schema(orders_schema) \
.load("/public/trendytech/orders/orders_1gb.csv")

In [4]:
orders_df.rdd.getNumPartitions()

9

In [5]:
orders_df.groupBy("order_status").count().write.format("csv").mode("overwrite").save("Week10PySparkOptimizations/output101")

In [6]:
orders_df.groupBy("order_status").count().write.format("noop").mode("overwrite").save()

In [7]:
customer_schema = "customerid long , customer_fname string , customer_lname string , user_name string,password string , address string, city string, state string, pincode long "

In [8]:
customers_df = spark.read \
.format("csv") \
.schema(customer_schema) \
.load("/public/trendytech/retail_db/customers")

In [9]:
customers_df.show()

+----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|customerid|customer_fname|customer_lname|user_name| password|             address|         city|state|pincode|
+----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|         1|       Richard|     Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|  Brownsville|   TX|  78521|
|         2|          Mary|       Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|    Littleton|   CO|  80126|
|         3|           Ann|         Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|       Caguas|   PR|    725|
|         4|          Mary|         Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common|   San Marcos|   CA|  92069|
|         5|        Robert|        Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|       Caguas|   PR|    725|
|         6|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|3151 Sleepy Quail...|      Passaic|   NJ|   7055|
|         7|       Melissa|        Wilcox|XXXXXXXXX|XXXXXXXXX|9453 High Concession|       Caguas|   PR|    725|
|         8|         Megan|         Smith|XXXXXXXXX|XXXXXXXXX|3047 Foggy Forest...|     Lawrence|   MA|   1841|
|         9|          Mary|         Perez|XXXXXXXXX|XXXXXXXXX| 3616 Quaking Street|       Caguas|   PR|    725|
|        10|       Melissa|         Smith|XXXXXXXXX|XXXXXXXXX|8598 Harvest Beac...|     Stafford|   VA|  22554|
|        11|          Mary|       Huffman|XXXXXXXXX|XXXXXXXXX|    3169 Stony Woods|       Caguas|   PR|    725|
|        12|   Christopher|         Smith|XXXXXXXXX|XXXXXXXXX|5594 Jagged Ember...|  San Antonio|   TX|  78227|
|        13|          Mary|       Baldwin|XXXXXXXXX|XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|   PR|    725|
|        14|     Katherine|         Smith|XXXXXXXXX|XXXXXXXXX|5666 Hazy Pony Sq...|  Pico Rivera|   CA|  90660|
|        15|          Jane|          Luna|XXXXXXXXX|XXXXXXXXX|    673 Burning Glen|      Fontana|   CA|  92336|
|        16|       Tiffany|         Smith|XXXXXXXXX|XXXXXXXXX|      6651 Iron Port|       Caguas|   PR|    725|
|        17|          Mary|      Robinson|XXXXXXXXX|XXXXXXXXX|     1325 Noble Pike|       Taylor|   MI|  48180|
|        18|        Robert|         Smith|XXXXXXXXX|XXXXXXXXX|2734 Hazy Butterf...|     Martinez|   CA|  94553|
|        19|     Stephanie|      Mitchell|XXXXXXXXX|XXXXXXXXX|3543 Red Treasure...|       Caguas|   PR|    725|
|        20|          Mary|         Ellis|XXXXXXXXX|XXXXXXXXX|      4703 Old Route|West New York|   NJ|   7093|
+----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

In [10]:
orders_df.show()

+--------+--------------------+-----------+---------------+
|order_id|          order_date|customer_id|   order_status|
+--------+--------------------+-----------+---------------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|
|       6|2013-07-25 00:00:...|       7130|       COMPLETE|
|       7|2013-07-25 00:00:...|       4530|       COMPLETE|
|       8|2013-07-25 00:00:...|       2911|     PROCESSING|
|       9|2013-07-25 00:00:...|       5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|       5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|        918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|       1837|         CLOSED|
|      13|2013-07-25 00:00:...|       9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|       9842|     PROCESSING|
|      15|2013-07-25 00:00:...|       2568|       COMPLETE|
|      16|2013-07-25 00:00:...|       7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|       2667|       COMPLETE|
|      18|2013-07-25 00:00:...|       1205|         CLOSED|
|      19|2013-07-25 00:00:...|       9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|       9198|     PROCESSING|
+--------+--------------------+-----------+---------------+
only showing top 20 rows

In [11]:
spark.conf.get('spark.sql.autoBroadcastJoinThreshold')

'10485760b'

In [12]:
10485760 / (1024 * 1024)

10.0

In [13]:
spark.conf.set('spark.sql.autoBroadcastJoinThreshold', '-1')

In [14]:
spark.conf.set('spark.sql.autoBroadcastJoinThreshold', '10485760b')

In [15]:
orders_df.join(customers_df, orders_df.customer_id == customers_df.customerid, "inner").show()

+--------+--------------------+-----------+---------------+----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|order_id|          order_date|customer_id|   order_status|customerid|customer_fname|customer_lname|user_name| password|             address|         city|state|pincode|
+--------+--------------------+-----------+---------------+----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
|       1|2013-07-25 00:00:...|      11599|         CLOSED|     11599|          Mary|        Malone|XXXXXXXXX|XXXXXXXXX|8708 Indian Horse...|      Hickory|   NC|  28601|
|       2|2013-07-25 00:00:...|        256|PENDING_PAYMENT|       256|         David|     Rodriguez|XXXXXXXXX|XXXXXXXXX|7605 Tawny Horse ...|      Chicago|   IL|  60625|
|       3|2013-07-25 00:00:...|      12111|       COMPLETE|     12111|         Amber|        Franco|XXXXXXXXX|XXXXXXXXX|8766 Clear Prairi...|   Santa Cruz|   CA|  95060|
|       4|2013-07-25 00:00:...|       8827|         CLOSED|      8827|         Brian|        Wilson|XXXXXXXXX|XXXXXXXXX|   8396 High Corners|  San Antonio|   TX|  78240|
|       5|2013-07-25 00:00:...|      11318|       COMPLETE|     11318|          Mary|         Henry|XXXXXXXXX|XXXXXXXXX|3047 Silent Ember...|       Caguas|   PR|    725|
|       6|2013-07-25 00:00:...|       7130|       COMPLETE|      7130|         Alice|         Smith|XXXXXXXXX|XXXXXXXXX|      8852 Iron Port|     Brooklyn|   NY|  11237|
|       7|2013-07-25 00:00:...|       4530|       COMPLETE|      4530|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|1073 Green Leaf G...|        Miami|   FL|  33161|
|       8|2013-07-25 00:00:...|       2911|     PROCESSING|      2911|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|9166 Golden Necta...|       Caguas|   PR|    725|
|       9|2013-07-25 00:00:...|       5657|PENDING_PAYMENT|      5657|          Mary|         James|XXXXXXXXX|XXXXXXXXX|  1389 Dusty Circuit|     Lakewood|   OH|  44107|
|      10|2013-07-25 00:00:...|       5648|PENDING_PAYMENT|      5648|        Joshua|         Smith|XXXXXXXXX|XXXXXXXXX|864 Iron Spring S...|      Memphis|   TN|  38111|
|      11|2013-07-25 00:00:...|        918| PAYMENT_REVIEW|       918|        Nathan|         Smith|XXXXXXXXX|XXXXXXXXX|    9627 Honey Trail|       Caguas|   PR|    725|
|      12|2013-07-25 00:00:...|       1837|         CLOSED|      1837|          Mary|          Vega|XXXXXXXXX|XXXXXXXXX|  4312 Bright Corner|       Caguas|   PR|    725|
|      13|2013-07-25 00:00:...|       9149|PENDING_PAYMENT|      9149|        Ronald|     Whitehead|XXXXXXXXX|XXXXXXXXX|6789 Round Robin ...|    Santa Ana|   CA|  92705|
|      14|2013-07-25 00:00:...|       9842|     PROCESSING|      9842|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|454 Lazy Branch F...|       Caguas|   PR|    725|
|      15|2013-07-25 00:00:...|       2568|       COMPLETE|      2568|         Maria|         Smith|XXXXXXXXX|XXXXXXXXX|   3544 Fallen Mount|      Memphis|   TN|  38127|
|      16|2013-07-25 00:00:...|       7276|PENDING_PAYMENT|      7276|        Pamela|         Smith|XXXXXXXXX|XXXXXXXXX|    9243 Old Gardens|       Caguas|   PR|    725|
|      17|2013-07-25 00:00:...|       2667|       COMPLETE|      2667|         Tammy|         Smith|XXXXXXXXX|XXXXXXXXX|   8906 Rustic Mall |   Sun Valley|   CA|  91352|
|      18|2013-07-25 00:00:...|       1205|         CLOSED|      1205|          Mary|        Powell|XXXXXXXXX|XXXXXXXXX|9299 Quiet Pionee...|        Miami|   FL|  33126|
|      19|2013-07-25 00:00:...|       9488|PENDING_PAYMENT|      9488|          Mary|         Smith|XXXXXXXXX|XXXXXXXXX|    9758 Foggy Range|      Hialeah|   FL|  33012|
|      20|2013-07-25 00:00:...|       9198|     PROCESSING|      9198|         David|          Kerr|XXXXXXXXX|XXXXXXXXX|7312 Crystal Will...|Bowling Green|   KY|  42101|
+--------+--------------------+-----------+---------------+----------+--------------+--------------+---------+---------+--------------------+-------------+-----+-------+
only showing top 20 rows

In [16]:
orders_df.join(customers_df, orders_df.customer_id == customers_df.customerid, "inner").write.format("noop").mode("overwrite").save()

In [17]:
orders_df.join(customers_df, orders_df.customer_id == customers_df.customerid, "right").write.format("noop").mode("overwrite").save()

In [18]:
orders_df.join(customers_df, orders_df.customer_id == customers_df.customerid, "left").write.format("noop").mode("overwrite").save()